
{% block title %}DocterDetails {% endblock %}

<h1 style="text-align:center">Docter details</h1>

<div class="container">
    <div class="row mt-3" >
       <div class="col-2">

       </div>
        <div class="col-8">
          <img src="{{detai.images.url}}" style="width:20rem;height:20rem">
          <h2>Name:{{detai.docname}}</h2>
           <h4>Specipications:{{detai.specilisation}}</h4>
            <h4>Department:{{detai.name}}</h4>

        </div>
        <div class="col-2">

        </div>
    </div>
</div>



</body>
